@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 229 231 235;

    --background: 245 247 250;
    --background-foreground: 255 255 255;

    --primary: 122 65 248;
    --foreground: 78 101 134;

    --destructive: 255 86 91;
    --success: 48 209 103;

    --scroll: 195 197 200;
    --scroll-background: 145 147 150;
  }

  .dark {
    --border: 29 31 35;

    --background: 14 16 21;
    --background-foreground: 28 30 36;

    --primary: 156 130 255;
    --foreground: 150 150 150;

    --destructive: 255 86 91;
    --success: 48 209 103;

    --scroll: 75 78 85;
    --scroll-background: 45 48 55;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  img {
    @apply h-auto block max-w-full;
  }

  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(var(--scroll)) rgb(--var(--scroll-background));
  }
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  *::-webkit-scrollbar-track {
    background: rgb(--var(--scroll-background));
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(var(--scroll));
    border-radius: 8px;
  }

  body {
    @apply h-dvh overflow-x-hidden bg-background font-manrope font-medium text-foreground antialiased; 
  }
}