@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 247 250;
    --background-foreground: 255 255 255;

    --primary: 122 65 248;
    --foreground: 78 101 134;

    --destructive: 255 86 91;
    --success: 48 209 103;

    --scroll: 195 197 200;
    --scroll-background: 145 147 150;
  }

  img {
    @apply h-auto block max-w-full
  }


  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(var(--scroll)) rgb(--var(--scroll-background));
  }
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  *::-webkit-scrollbar-track {
    background: rgb(--var(--scroll-background));
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(var(--scroll));
    border-radius: 8px;
  }
}